*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #636e72;
    overflow-x: hidden;
}
button{
    padding: 15px 50px;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
    margin: 20px;
}